{% extends "main/base.html" %}

{% block style %}

.dlbox{
    border:solid black 2px;
    border-radius:5px;
    margin: 10px 10px;
    float:none;
    padding: 10px 10px;
    width: 90%;
}
.dlbox:hover{
    cursor:pointer;
}
{% endblock style %}

{% block content %}

<h1> Startseite </h1>

<h3>Dienstleistungen - Online Verfahren</h3>

{% for dl in dls %}
    <div OnClick="location.href='/dl/Neuzulassung'" class="dlbox">
        <h4> {{dl.name}} </h4>
        <p> {{ dl.desc}}</p>

    </div>
{% endfor %}
<p>Test: 2222405343248877
078-05-1120
219-09-9999
219-09-9829</p>
<div> 
    <h4> Nicht fündig geworden?</h4>
    <p>Kontaktieren Sie uns!</p>
    <h5> 0800 0815 1234 5678 </h5>
    <h5> anfrage@digitale-zulassung.de</h5>
</div>

{% endblock content %}
